@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Open+Sans:wght@400;500;600;700;800&family=Source+Code+Pro&family=Ubuntu:wght@300;400;500;700&family=Unbounded:wght@500;800;900&display=swap");

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: "";
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

li {
  padding: 14px;
  transition: all linear 0.1s;
}

.li-blue__hover:hover {
  background: #1e40af;
  cursor: pointer;
  color: #fff;
}

.li-blue__hover_nav:hover {
  background: #991b1b;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
  top: 48px;
  left: 0;
  font-weight: 500;
}

.button-back {
  left: 10%;
  top: 40%;
  color: white;
  margin-left: 250px;
}

.button-next {
  right: 10%;
  top: 40%;
  color: white;
  margin-right: 250px;
}

.arrow2 {
  transform: rotate(180deg);
}

.iframe-video {
  width: 350px;
}

.footer-info {
  width: 100% !important;
}

.svg-address {
  width: 100px;
}

.language-open {
  top: 50px;
  left: 0;
  position: absolute;
}

.job-container {
  height: 750px;
}

.work__line {
  height: 5px;
  background-color: #991b1b;
}

.work__line2 {
  width: 60px;
  height: 6px;
  background-color: #991b1b;
}

.photo-container {
  width: 350px;
}

.job-container__inside {
  width: 450px;
}

.dots {
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(119deg) brightness(108%)
    contrast(100%);
}

.dots__container {
  left: -120px;
}

.logo2 {
  height: 100px;
}

.video-box {
  box-shadow: 0 5px 30px -10px #991b1b;
}

.production-box {
  box-shadow: 0 20px 60px -15px #991b1b;
}

.box-shadow {
  box-shadow: 0 20px 60px -15px #1e40af;
}

.imz-div-title {
  margin-left: 282px;
}

.wherewe-box::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  background: linear-gradient(#fff, #eee);
  z-index: -1;
}

.map-container::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 1000px;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  background: linear-gradient(270deg, transparent, #fffef7);
  z-index: 10;
}

.sticky {
  position: fixed;
}

.nav-animation {
  transition: transform 0.3s ease-in-out;
}

.limited-width {
  min-width: 1200px;
  margin: 0 auto;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.wherewe__before {
  width: 50%;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #991b1b, #991b1b);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#svg {
  stroke: rgb(255, 255, 255);
  width: 600px;
  fill-opacity: 1;
  stroke-width: 5px;
  stroke-dasharray: 5000;
  animation: draw 5s ease;
  position: absolute;
}

#svg2 {
  position: absolute;
  z-index: -10;
  opacity: 0.6;
  width: 600px;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 5500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  margin-top: 350px;
}

.logo-name {
  color: #fff;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #ff0000;
}

.bounce-hover:hover {
  transform: translateY(-5px);
}

.address-hover:hover .geo-img {
  transform: translateX(-3px);
  transform: translateY(-3px);
}

.contact-hover:hover .contact-img {
  transform: translateX(-3px);
}

.contact2-hover:hover .contact2-img {
  transform: translateX(-3px);
}

.job__container_row_vacancy_name:hover {
  color: #991b1b;
  text-shadow: 1px 0 0 currentColor;
}

.job__container_row_vacancy_name:hover
  ~ .job__container_row_vacancy_experience_name {
  text-shadow: 1px 0 0 currentColor;
}

.job__container_row_vacancy_name:hover ~ .job__container_row_vacancy_salary {
  text-shadow: 1px 0 0 currentColor;
}

.job__container_table {
  box-shadow: rgba(68, 68, 221, 0.15) 0px 0px 60px 16px;
}

.footer__block_address:hover .footer__block_address_svg {
  transform: translateX(-3px);
}

.contact-hover:hover .contact-img {
  transform: translateX(-3px);
}

.footer__block_email:hover .footer__block_email_svg {
  transform: translateX(-3px);
}

.footer__block_tel:hover .footer__block_tel_svg {
  transform: translateX(-3px);
}

.main__hover_container:hover .main__hover_container_img {
  transform: translateX(-10px);
}

.main__hover_container:hover .main__hover_container_title {
  color: #991b1b;
}

.main__hover_container:hover .main__hover_container_img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(50%) saturate(4020%)
    hue-rotate(346deg) brightness(88%) contrast(97%);
}

.carousel-button1 {
  right: 0;
  top: 155px;
  border-radius: 0;
}

.carousel-button1-mobile {
  right: 0;
  top: 100px;
  border-radius: 0;
}
.carousel-button2-mobile {
  left: 0;
  top: 100px;
  border-radius: 0;
}

.carousel-button1:hover,
.carousel-button2:hover,
.carousel-button1-mobile:hover,
.carousel-button2-mobile:hover {
  background-color: #991b1b;
}

.carousel-button2 {
  left: 0;
  top: 155px;
  border-radius: 0;
}

.job__border_container {
  border: 1px solid #000;
}

.news__img-container {
  min-height: 225px !important;
}

.cabinet__create-img {
  width: 345px;
  height: 225px;
}

.svg__in-image {
  top: 40%;
  position: absolute;
  left: 35%;
}

.calculator {
  width: 750px;
  height: 550px;
}

.preloader {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #991b1b, #991b1b);
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 280px;
  font-size: 20px;
  font-weight: 800;
  overflow: hidden;
  color: #fff;
}

.p-sidebar-icons {
  display: none;
}

.header__mobile {
  z-index: 100000000 !important;
}

.dot___3c3SI.carousel__dot.carousel__dot--0,
.dot___3c3SI.carousel__dot.carousel__dot--1,
.dot___3c3SI.carousel__dot.carousel__dot--2,
.dot___3c3SI.carousel__dot.carousel__dot--3,
.dot___3c3SI.carousel__dot.carousel__dot--4,
.dot___3c3SI.carousel__dot.carousel__dot--5,
.dot___3c3SI.carousel__dot.carousel__dot--6,
.dot___3c3SI.carousel__dot.carousel__dot--7,
.dot___3c3SI.carousel__dot.carousel__dot--8,
.dot___3c3SI.carousel__dot.carousel__dot--9,
.dot___3c3SI.carousel__dot.carousel__dot--10 {
  border: 1px solid;
  padding: 8px;
  border-radius: 100%;
  margin-right: 10px;
}

.carousel__dot--selected {
  background-color: #991b1b !important;
  border: 0px;
}

.video__container_mobile {
  margin: -10px;
}

.carousel__1_img {
  object-fit: cover;
  width: 100%;
  height: 385px;
}

.carousel__1_img__mobile {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.slide-text {
  position: absolute;
  color: #fff;
  padding: 0 20%;
  font-size: 25px;
}

.slide-text__mobile {
  position: absolute;
  color: #fff;
  padding: 0 15%;
  font-size: 12px;
  line-height: normal;
}

.slideInner___2mfX9.carousel__inner-slide {
  height: auto;
  place-items: center;
  display: grid;
}

.news__card-item {
  min-width: 384px;
  min-height: 442px;
}

.scrollbar-width {
  scrollbar-width: none;
}

.pagination {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.pagination li {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  padding: 15px 25px;
}

.pagination .active {
  background-color: #1e40af;
  color: #fff;
}

.management__photo {
  height: 115%;
  bottom: 0;
}

.management__photo__mobile {
  height: 105%;
  bottom: 0;
}

.management__photo2 {
  height: 75%;
  bottom: 0;
}

.management__photo2__mobile {
  height: 40%;
  bottom: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-test {
  grid-template-columns: auto auto auto;

  grid-template-rows: auto auto;

  grid-auto-flow: row;
}

.grid-test-col {
  grid-column: span 2;
}

.name-break {
  word-spacing: 30000px;
}

.selectedcard {
  height: 750px !important;
}

.grid-test-col2 {
  grid-column: span 1;
}

.card__news_item {
  min-height: 525px;
}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 15px 20px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #1e40af;
  color: #1e40af;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: #1e40af;
}

.navigationActive a {
  color: white;
  background-color: #1e40af;
}

.navigationButtons__mobile {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons__mobile a {
  padding: 10px 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #1e40af;
  color: #1e40af;
  cursor: pointer;
}

.navigationButtons__mobile a:hover {
  color: white;
  background-color: #1e40af;
}

.navigationActive__mobile a {
  color: white;
  background-color: #1e40af;
}
